/* page formatting */

body {
    background-image: url("../images/background7.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid {    
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1500px;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* font changes */

h2 {    
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {        
    padding-bottom: 10px;
    vertical-align: middle;
}

h6 {    
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* heading changes */

.heading1 {  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heading2 {  
    text-align: center;
    padding-bottom: 20px;
}

/* API formatting */

.findhotels {    
    padding-top: 10px;
    padding-bottom: 10px;
}

#listing {    
    padding-top: 10px;
    padding-bottom: 10px;
}

#map {
    height: 450px;
    max-width: 100%;
    vertical-align: middle;
}

#controls {    
    padding-bottom: 10px;
}

#locationField { 
    padding-bottom: 10px;
}

/* image formatting */


.pics {    
    padding-top: 10px;
    padding-bottom: 10px;
}

#pic-master { 
    height: 550px;
    max-width: 384px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pic-text { 
    max-width: 240px;
}

/* --------------- footer --------------*/

#footer {
    padding-top: 10px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #444fe9;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
